# ###############################################################################
# 自动生成的编译文件、运行时文件
# ###############################################################################
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# ###############################################################################
# IDE / 编辑器自动生成的文件
# ###############################################################################
.vs/
.vscode/
.idea/
*.user
*.useross
*.sln.docstates
*.suo
*.cache

# ###############################################################################
# 包、还原文件
# ###############################################################################
node_modules/
package-lock.json
yarn.lock

# ###############################################################################
# 数据库、本地配置
# ###############################################################################
*.mdf
*.ldf
*.db
*.sqlite
appsettings.Development.json
appsettings.*.json
!appsettings.json

# ###############################################################################
# 临时文件、日志、发布包
# ###############################################################################
*.log
*.tmp
*.temp
*.zip
*.rar
*.publish